.founder{
    padding-bottom: 78px;

    @media(max-width: 600px){
        padding-bottom: 50px;
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 55px;

        @media(max-width: 600px){
            gap: 30px;
        }

        .founder-content-wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .founder-content-middle-wrapper{
                background-color: var(--light-blue);
                padding: 21px 82px;
                border-radius: 44px;
                overflow: hidden;

                @media(max-width: 600px){
                    padding: 30px 18px;
                    border-radius: 30px;
                }

                .founder-content-middle{
                    overflow-y: scroll;
                    scrollbar-width: none;
                    display: flex;
                    align-items: center;
                    gap: 28px;

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    .founder-content-middle-img-wrapper{
                        aspect-ratio: 1 / 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .founder-content-middle-img{
                            -o-object-fit: cover;
                               object-fit: cover;
                            min-height: 132px;
                            min-width: 132px;

                            &-horizontal{
                                min-width: 191px;
                            }
                        }
                    }
                }
            }

            .founder-content-bottom{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 17px;

                @media(max-width: 700px){
                    grid-template-columns: repeat(3, 1fr);
                }

                @media(max-width: 600px){
                    grid-template-columns: repeat(2, 1fr);
                }

                &-item{
                    background-color: var(--dark-blue);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 41px 0;
                    border-radius: 44px;

                    @media(max-width: 600px){
                        padding: 20px 0;
                        border-radius: 23px;
                    }

                    &-text{
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 30px;

                        @media(max-width: 950px){
                            font-size: 20px;
                        }

                        @media(max-width: 600px){
                            font-size: 14px;
                        }

                        & span{
                            font-family: 'Dela Gothic One';
                            font-size: 48px;
                            font-weight: 400;
                            text-transform: uppercase;

                            @media(max-width: 950px){
                                font-size: 40px;
                            }

                            @media(max-width: 600px){
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.academy{
    padding: 90px 0 70px 0;
    background-color: var(--light-blue);
    position: relative;
    z-index: 0;

    @media(max-width: 600px){
        padding: 50px 0;
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 55px;
    }

    .academy-img-line{
        position: absolute;
        top: 7%;
        left: 0;
        z-index: -1;
    }

    .academy-img-tactic{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}

.memory{
    padding: 80px 0;

    @media(max-width: 600px){
        padding: 50px 0;
    }

    &-wrapper{
        display: flex;
        gap: 30px;

        @media(max-width: 850px){
            flex-direction: column;
            align-items: center;
        }

        .memory-left-content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: calc(578 / 1240 * 100%);

            @media(max-width: 850px){
                width: 80%;
            }

            @media(max-width: 600px){
                width: 100%;
            }
    
            &-title{
                background-color: var(--light-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 35px;
                padding: 31px 0;

                @media(max-width: 500px){
                    padding: 17px 0;
                    border-radius: 19px;
                }
    
                .memory-left-content-text{
                    font-family: 'Dela Gothic One';
                    font-size: 32px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: var(--dark-blue);

                    @media(max-width: 850px){
                        font-size: 25px;
                    }

                    @media(max-width: 500px){
                        font-size: 20px;
                    }
                }
            }
    
            &-img-wrapper{
                height: 500px;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                border-radius: 44px;

                @media(max-width: 850px){
                    height: 400px;
                }

                @media(max-width: 600px){
                    border-radius: 25px;
                }

                @media(max-width: 500px){
                    height: 325px;
                }
    
                .memory-left-content-img{
                    -o-object-fit: cover;
                       object-fit: cover;
                    -o-object-position: center -15px;
                       object-position: center -15px;
                }
            }
        }

        .memory-right-content{
            width: calc(644 / 1240 * 100%);
            background-color: var(--dark-blue);
            border-radius: 44px;
            padding: 61px 85px 90px 85px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media(max-width: 1150px){
                padding: 45px 22px;
            }

            @media(max-width: 850px){
                width: 80%;
                gap: 20px;
            }

            @media(max-width: 600px){
                width: 100%;
                border-radius: 30px;
            }
            
            &-text{
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;

                @media(max-width: 500px){
                    font-size: 15px;
                }

                & span{
                    font-weight: 700;
                }
            }
        }
    }
}

.merits{
    padding: 85px 0;
    
    @media(max-width: 600px){
        padding-top: 0;
        padding-bottom: 50px;
    }

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .merits-content-wrapper{
        height: 900px;
        width: 100%;
        position: relative;
        z-index: 0;

            @media(max-width: 1150px){
                height: 800px;
            }

            @media(max-width: 1000px){
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                gap: 25px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media(max-width: 1000px){
                grid-template-columns: repeat(1, 1fr);
            }
        
        .merits-content-item-wrapper{
            position: absolute;

            @media(max-width: 1000px){
                position: static;
                height: 100% !important;
            }

            &:nth-child(3){
                @media(max-width: 650px){
                    margin-bottom: 230px;
                }
            }

            &-first{
                top: 20px;
                left: 10%;
            }

            &-second{
                top: 0;
                right: 5%;
            }

            &-third{
                top: 300px;
                left: 0;
            }

            &-four{
                top: 250px;
                right: 0;
            }

            &-five{
                bottom: 0;
                left: 15%;
            }

            &-six{
                bottom: 10%;
                right: 5%;
            }

            .merits-content-item{
                padding: 71px 33px 41px 33px;
                position: relative;

                @media(max-width: 1150px){
                    padding: 46px 22px 34px 22px;
                }
    
                &-text{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 19px;
                    max-width: 375px;

                    @media(max-width: 1150px){
                        font-size: 16px;
                    }

                    @media(max-width: 650px){
                        font-size: 15px;
                    }
                }
    
                &-light{
                    background-color: var(--light-blue);
                    border-radius: 44px;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    
                    @media(max-width: 600px){
                        border-radius: 30px;
                    }

                    @media(max-width: 1000px){
                        width: 100%;
                        height: 100%;
                    }

                    @media(max-width: 650px){
                        height: -webkit-fit-content !important;
                        height: -moz-fit-content !important;
                        height: fit-content !important;
                    }
    
                    .merits-content-item-text{
                        color: var(--dark-blue);
                    }
                }

                &-dark{
                    background-color: var(--dark-blue);
                    border-radius: 44px;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;

                    @media(max-width: 600px){
                        border-radius: 30px;
                    }

                    @media(max-width: 1000px){
                        width: 100%;
                        height: 100%;
                    }

                    @media(max-width: 650px){
                        height: -webkit-fit-content !important;
                        height: -moz-fit-content !important;
                        height: fit-content !important;
                    }
    
                    .merits-content-item-text{
                        color: var(--white);
                    }
                }

                .merits-content-item-num-wrapper{
                    padding: 20px 25px;
                    border-radius: 76px;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    position: absolute;
                    left: 10px;
                    top: -15px;
                    transform: rotate(-5deg);

                    @media(max-width: 650px){
                        padding: 20px 15px;
                    }

                    .merits-content-item-num{
                        font-family: 'Dela Gothic One';
                        font-size: 38px;
                        font-weight: 400;
                        line-height: 19px;

                        @media(max-width: 650px){
                            font-size: 27px;
                            line-height: 13px;
                        }
                    }

                    &-dark{
                        background-color: var(--dark-blue);

                        .merits-content-item-num{
                            color: var(--white);
                        }
                    }

                    &-light{
                        background-color: var(--light-blue);

                        .merits-content-item-num{
                            color: var(--dark-blue);
                        }
                    }
                }
            }
        }

        .merits-img{
            width: 540px;
            height: 540px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-10deg);
            z-index: 2;

            @media(max-width: 1150px){
                width: 400px;
                height: 400px;
            }

            @media(max-width: 1050px){
                height: 300px;
                width: 300px;
            }

            @media(max-width: 1000px){
                height: 274px;
                width: 274px;
                display: none;
            }
        }

        .mobile-merits-img{
            display: none;

            @media(max-width: 650px){
                display: block;
                top: 52%;
                transform: translate(-50%, -52%);
                height: 300px;
                width: 300px;
            }

            @media(max-width: 450px){
                display: block;
                top: 52%;
                transform: translate(-50%, -52%);
                height: 274px;
                width: 274px;
            }
        }
    }
}

.partner{
    background-color: var(--dark-blue);
    padding: 75px 0 110px 0;

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 78px;

        .title-partner{
            font-size: 32px !important;
            border: 4px solid var(--white);   

            @media(max-width: 600px){
                font-size: 20px !important;
            }
        }

        .partner-content{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 210px);
            justify-content: space-between;
            row-gap: 17px;

            @media(max-width: 900px){
                display: flex;
                gap: 13px;
                transition: transform 0.5s ease-in-out;
                width: 100%;
            }

            &-item{
                aspect-ratio: 1 / 1;
                background-color: var(--dark-blue);
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 156px;

                &-img{
                    -o-object-fit: cover;
                       object-fit: cover;
                }
            }
        }
    }
}