.feedback-block{
    padding-bottom: 80px;

    &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 80px !important;
    }
}

.feedback-block-card{
    padding: 40px 20px !important;
    position: relative;
    z-index: 0;

    &-img{
        position: absolute;
        z-index: -1;
        top: 0;
    }

    .exit{
        display: none;

        @media(max-width: 570px){
            position: absolute;
            top: 37px;
            right: 24px;
        }
    }
}

.feedback-block-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .feedback-block-avatar{
        position: static;
        transform: rotate(0);
    }

    .feedback-block-avatar-text{
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        display: flex;
        flex-direction: column;
    }
}

.feedback-block-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
}

.feedback-block-btn{
    padding: 11px 32px;
    color: var(--dark-blue);
    font-weight: 800;
    background-color: var(--white);
    line-height: 21px;
    border-radius: 76px;
    margin: 0 auto;
    margin-top: auto;
}

.feedback-block-card-popup{
    width: 406px;
    background-color: var(--dark-blue);
    position: relative;
    padding: 40px 20px;
    border-radius: 44px;
}

.programs-card-content-top-popup{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feedback-video{
    background-color: var(--light-blue);
    padding: 85px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media(max-width: 650px){
       gap: 20px;
    }

    .feedback-video-content{
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media(max-width: 1000px){
            gap: 15px;
        }

        @media(max-width: 750px){
            gap: 10px;
        }

        @media(max-width: 550px){
            gap: 5px;
        }
    }

    .feedback-video-content-line{
        display: flex;
        gap: 30px;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;

        @media(max-width: 1000px){
            gap: 15px;
        }

        @media(max-width: 750px){
            gap: 10px;
        }

        @media(max-width: 550px){
            gap: 5px;
        }

        &::-webkit-scrollbar{
            display: none;
        }

        .feedback-video-wrapper{
            border-radius: 15px;
            display: inline-block;
            overflow: hidden;
            flex-shrink: 0;
        }
    
        .feedback-video-wrapper iframe {
            display: block;
            width: 100%;
            height: 100%;
            height: auto;
            max-width: 370px;
            max-height: 190px;
        }
        
        /* Для меньших экранов */
        @media (max-width: 1000px) {
            .feedback-video-wrapper iframe {
                width: 280px;
                
            }
        }
        
        @media (max-width: 650px) {
            .feedback-video-wrapper iframe {
                max-width: 200px;
                max-height: 110px;
            }
        }

        @media (max-width: 550px) {
            .feedback-video-wrapper iframe {
                max-width: 155px;
                max-height: 80px;
            }
        }
        
        
    }
}