.footer{
    padding: 62px 0 55px 0;
    background-color: var(--dark-blue);
    font-family: 'Arial';

    @media(max-width: 950px){
        padding: 34px 0 54px 0;
    }

    &-wrapper{
        display: flex;
        justify-content: space-between;
        
        @media(max-width: 950px){
            flex-direction: column;
            gap: 40px;
        }

        @media(max-width: 650px){
            flex-direction: column;
            gap: 20px;
        }

        .footer-main-content-wrapper{
            display: flex;
            gap: 100px;

            @media(max-width: 950px){
                justify-content: space-between;
            }

            @media(max-width: 650px){
                flex-wrap: wrap;
                gap: 70px;
            }

            @media(max-width: 500px){
                flex-wrap: wrap;
                gap: 50px;
            }

            .navigation-footer{
                @media(max-width: 600px){
                    gap: 15px;
                }
            }

            .navigation-footer-item{
                line-height: calc(20 / 16 * 100%);

                @media(max-width: 1150px){
                    font-size: 13px;
                }

                @media(max-width: 950px){
                    font-size: 16px;
                }

                @media(max-width: 500px){
                    width: 90px;
                    font-size: 13px;
                }
            }
        }

        .logo-footer{
            width: 175px;
            height: 190px;

            @media(max-width: 1150px){
                width: 100px;
                height: 115px;
            }
        }

        .footer-info-global-wrapper{
            display: flex;
            gap: 70px;

            @media(max-width: 950px){
                flex-direction: column;
                gap: 10px;
            }

            .footer-info{
                display: flex;
                flex-direction: column;
                gap: 10px;

                &-wrapper{
                    display: flex;
                    flex-direction: column;
                }

                &-title{
                    font-weight: 700;
                    line-height: calc(30 / 16 * 100%);

                    @media(max-width: 1150px){
                        font-size: 12px;
                    }

                    @media(max-width: 950px){
                        font-size: 16px;
                    }

                    @media(max-width: 360px){
                        font-size: 12px;
                    }
                }

                &-text{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: calc(25 / 18 * 100%);

                    @media(max-width: 1150px){
                        font-size: 13px;
                    }

                    @media(max-width: 950px){
                        font-size: 16px;
                    }

                    @media(max-width: 360px){
                        font-size: 13px;
                    }
                }

                .footer-socials{
                    display: flex;
                    gap: 12px;
                    margin-top: auto;

                    @media(max-width: 950px){
                        justify-content: space-between;
                    }

                    .footer-social{
                        width: 32px;
                        height: 32px;

                        @media(max-width: 1150px){
                            width: 27px;
                            height: 27px;
                        }

                        @media(max-width: 950px){
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }

        .footer-link-wrapper{
            display: flex;
            flex-direction: column;
            gap: 30px;

            @media(max-width: 650px){
                width: 100%;
            }

            .footer-link{
                width: 200px;
                font-weight: 700;
                line-height: calc(18 / 16 * 100%);

                @media(max-width: 1150px){
                    font-size: 13px;
                }

                @media(max-width: 950px){
                    font-size: 18px;
                }

                @media(max-width: 360px){
                    font-size: 13px;
                }

            }

            .footer-mobile-position{
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 100%;

                @media(max-width: 650px){
                    flex-direction: row;
                }
            }

            .footer-link-img-wrapper{
                display: flex;
                margin-top: auto;

                @media(max-width: 650px){
                    margin-left: auto;
                }
            }
        }
    }
}